/****************************************
* styles pour affichage de l'aide wp-help 
* 
****************************************/


#cws-wp-help-listing {
    background: #ffffff;
    font-size: 110%;
    width: 30%;
}

#cws-wp-help-listing h3 {
    color: violet;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 15px;
}

#cws-wp-help-listing ul a {
	color: blue;
    font-weight: 600;
	font-variant: small-caps;
}

#cws-wp-help-listing ul ul a  {
	color: #0073aa;
	font-weight: normal;
}


#cws-wp-help-document {
    max-width: 100%;
    padding-left: 30%;
	padding-top: 20px;
    padding-bottom: 20px;
	background: #ffffff;
}

#cws-wp-help-document p {
    max-width: 700px;
    font-size: 110%;
}

#cws-wp-help-document h2:first-of-type {
	font-variant: small-caps;
	color: blue;
}

#cws-wp-help-document h2 {
	color: violet;
	font-variant: small-caps;
	font-weight: 800;
	margin-bottom: 15px;
    margin-top: 15px;	
	font-size: 170%;
}

#cws-wp-help-document h3 {
	color: blueviolet;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
    font-style: italic;
}

#cws-wp-help-document h4 {
	color: blueviolet;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 110%;
}

#cws-wp-help-document img {
    border: 2px solid blueviolet;
    padding: 5px;
}


/*
* source https://gist.github.com/purcebr/5807403
*/

/* Print Styles for wp_help */

@media print {

  /* WP Admin Elements */

  #adminmenuwrap {
    display:none;
  }

  #wpadminbar {
    display:none;
  }

  #adminmenushadow {
    display:none;
  }

  #adminmenuback {
    display:none;
  }

  #wpfooter {
    display:none;
  }
  
  .notice.is-dismissible {
	display:none;  
  }

  /* WP Help Elements */

  #cws-wp-help-listing {
    display:none;
  }

  #print-help-document {
    display:none;
  }

  #cws-wp-help-document, #cws-wp-help-settings {
    padding:0 !important;
    max-width:100%;
  }
  #cws-wp-help-document .post-edit-link {
    display:none;
  }

  #wpcontent {
    margin:0;
  }


  #icon-wp-help {
    display: none;
  }

}

